.btn {
  padding: 5px 30px;
  border-radius: 20px;

}


.btn.bnt-laranja {
  background: $color-terciaria;
  color: black;
  font-weight: bold;

}

header section nav ul li a {
  transition: 0.4s;
}

.btn.bnt-laranja:hover {
  background: #73d8dc;
  font-weight: bold;
}


header section nav ul li a:hover {

  padding: 5px 30px;
  border-radius: 20px;

  font-weight: bold;


  background: #73d8dc;
  color: white;
}